    .tituloEspecial{
        color:lightcoral;
        font-size: 100px;
        font-weight:bold;
    }
    h1{
        color: #3B1C03;
        text-align: center;
        font-size: 60px;
        font-style: italic;
    }
    h3{
        font-stretch:initial;
        color: #130122;
    }
    h5{
        color: #002F04;
        font-size: 30px;
    }
    .Cont{

    }
    .profesorado{
        font-size: 20px;
    }

    table tr td img{
        width= 75px;
        height= 50px;
    }
    footer table tr td{
        width: 300px;
        style=center;
    }
    img{
        float: center;
    }