    h3{
        color:yellow;
        font-stretch:initial;
    }
    .tituloEspecial{
        color:lightcoral;
        font-size: 100px;
        font-weight:bold;
    }

    h1{
        color:chocolate;
        font-size: 80px;
    }
    .Cont{

    }
    .profesorado{
        font-size: 200px;

    }